# Dependências instaladas no container Airflow além da imagem base apache/airflow:2.9.1
#
# collector.py precisa de: requests, psycopg2-binary, schedule
# dbt build (BigQuery/prod) precisa de: dbt-bigquery

apache-airflow-providers-postgres==5.11.0
psycopg2-binary==2.9.9
requests==2.32.3
schedule==1.2.2
dbt-bigquery==1.7.8
